.row
  .large-3.columns
    %h1 New User
    = form_for @user do |f|
      = f.label :email
      = f.email_field :email, :autofocus => true
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      = f.submit nil, :class => 'button radius'
  .large-9.columns
