.row
  .large-3.columns
    %h1 New Bill
    = form_for @bill do |f|
      = f.label :name
      = f.text_field :name, :autofocus => true
      = f.label :description
      = f.text_area :description
      = f.label :amount
      = f.text_field :amount
      = f.label :day
      = f.number_field :day
      = f.submit nil, :class => 'button radius'
  .large-9.columns
