<!DOCTYPE html>
<html>
<head>
  <title>Songpirate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to('Songs', songs_path) %></li>
      <li><%= link_to('Albums', albums_path) %></li>
      <li><%= link_to('Artists', artists_path) %></li>
      <li><%= link_to('Genres', genres_path) %></li>
    </ul>
  </nav>
  <section><%= yield %></section>

</body>
</html>
